body {
    background-color: #1e212d;
    color: #eabf9f;
    height: 100vh;
    font-family: "Roboto Mono", monospace;
  }
  
  #root {
    height: 100%;
  }
  
  .App {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn{
    font-family: "Roboto Mono", monospace;
    height:30px
  }

  .inputField{
    height:30px
  }

  .btnn{
    font-family: "Roboto Mono", monospace;
    height:30px;
    width: 100px;
  }

  .list{
      margin-top: 20px;
      margin-left: 0px;
  }